<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymsd.dao.UserDao">

    <select id="userlist" resultType="com.ymsd.entity.User">
        select * from ymapp.user
    </select>

    <select id="userById" resultType="com.ymsd.entity.User">
        select * from ymapp.user where id=#{id};
    </select>

</mapper>
